<% if(lista.length == 0) { %>
    <div class="card mx-auto background cardLista mt-2">
      <div class="card-body" id="cardB">
        <div class="row">
          <div class="col-12">
            <h2 class="card-title tituloElementoLista text-center">Nada para mostrar</h2>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  <% for(let biomasa of lista){ %>
    <div class="card mx-auto background cardLista mt-2">
      <div class="card-body">
        <div class="row justify-content-between tituloBotones">
          <div class="col-8">
            <h2 class="card-title tituloElementoLista"><%= biomasa.getNombre() %></h2>
          </div>
          <div class="col-4">
            <% if(!MiBiomasa) { %>
            <div class="row">
              <div class="d-grid col-6">
                <button type="button" class="btn btn-secondary comprarBiomasa" value="<%= biomasa.getId() %>">Comprar</button>
              </div>
            </div>
            <% } else { %>
            <div class="row">
              <div class="d-grid col-6">
                <button type="button" class="btn btn-secondary eliminarBiomasa" value="<%= biomasa.getId() %>">Eliminar</button>
              </div>
              <div class="d-grid col-6">
                <button type="button" class="btn btn-primary activaModal" value="<%= biomasa.getId() %>" data-bs-toggle="modal" data-bs-target="#modalAgregarModificar">Modificar</button>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-6">
            <div class="d-flex justify-content-start">
              <h3 class="tituloDatos ">Precio por unidad:</h3>
              <div class="ms-2"><%= biomasa.getPrecio() %></div>
            </div>
            <div class="d-flex justify-content-start">
              <h3 class="tituloDatos">Cantidad:</h3>
              <div class="ms-2"><%= biomasa.getCantidad() %>  </div>
            </div>
            <div class="d-flex justify-content-start">
              <h3 class="tituloDatos">Unidad:</h3>
              <div class="ms-2"><%= biomasa.getUnidad().getNombre() %>  </div>
            </div>
            <div class="d-flex justify-content-start">
              <h3 class="tituloDatos">Vendedor:</h3>
              <div class="ms-2"><%= biomasa.getUsuario().getNombre() %></div>
            </div>
          </div>
          <div class="col-6">
            <h3 class="tituloDatos">Etiquetas:</h3>
            <div class="row justify-content-center">
              <% for(let etiqueta of biomasa.getEtiquetas()){ %>
              <div class="etiqueta ps-3 pe-3 pt-2 pb-2 text-center m-1"><%= etiqueta.getNombre() %></div>
              <% } %>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content-start">
              <h3 class="tituloDatos">Descripcion:</h3>
              <div class="ms-2"><%= biomasa.getDescripcion() %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>